In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#from matplotlib import rcParams
#%matplotlib inline
#rcParams['figure.figsize'] = 14,6

In [2]:
# awk -F "," '$17 != "Current" {print}' loan.csv > new_loan.csv

In [3]:
df = pd.read_csv('new_loan.csv', low_memory=False)

In [4]:
df = df[df.loan_status != 'Current']

In [5]:
df_null = pd.DataFrame({'Count': df.isnull().sum(), 'Percent': 100*df.isnull().sum()/len(df)})
df_null[df_null['Count'] > 0]

                                              Count     Percent
id                                          1340973  100.000000
member_id                                   1340973  100.000000
emp_title                                     85929    6.407959
emp_length                                    78428    5.848589
annual_inc                                        4    0.000298
url                                         1340973  100.000000
desc                                        1215199   90.620691
title                                         15926    1.187645
zip_code                                          1    0.000075
dti                                             354    0.026399
delinq_2yrs                                      29    0.002163
earliest_cr_line                                 29    0.002163
inq_last_6mths                                   30    0.002237
mths_since_last_delinq                       675039   50.339492
mths_since_last_record                      1112139   82.935227
open_acc                                         29    0.002163
pub_rec                                          29    0.002163
revol_util                                      895    0.066743
total_acc                                        29    0.002163
last_pymnt_d                                   2426    0.180913
next_pymnt_d                                1303607   97.213516
last_credit_pull_d                               57    0.004251
collections_12_mths_ex_med                      145    0.010813
mths_since_last_major_derog                  987900   73.670387
annual_inc_joint                            1314044   97.991831
dti_joint                                   1314046   97.991980
verification_status_joint                   1314245   98.006820
acc_now_delinq                                   29    0.002163
tot_coll_amt                                  70276    5.240672
tot_cur_bal                                   70276    5.240672
...                                             ...         ...
sec_app_earliest_cr_line                    1321075   98.516152
sec_app_inq_last_6mths                      1321075   98.516152
sec_app_mort_acc                            1321075   98.516152
sec_app_open_acc                            1321075   98.516152
sec_app_revol_util                          1321443   98.543595
sec_app_open_act_il                         1321075   98.516152
sec_app_num_rev_accts                       1321075   98.516152
sec_app_chargeoff_within_12_mths            1321075   98.516152
sec_app_collections_12_mths_ex_med          1321075   98.516152
sec_app_mths_since_last_major_derog         1333606   99.450623
hardship_type                               1333386   99.434217
hardship_reason                             1333386   99.434217
hardship_status                             1333386   99.434217
deferral_term                               1333386   99.434217
hardship_amount                             1333386   99.434217
hardship_start_date                         1333386   99.434217
hardship_end_date                           1333386   99.434217
payment_plan_start_date                     1333386   99.434217
hardship_length                             1333386   99.434217
hardship_dpd                                1333386   99.434217
hardship_loan_status                        1333386   99.434217
orig_projected_additional_accrued_interest  1335495   99.591491
hardship_payoff_balance_amount              1333386   99.434217
hardship_last_payment_amount                1333386   99.434217
debt_settlement_flag_date                   1307942   97.536789
settlement_status                           1307942   97.536789
settlement_date                             1307942   97.536789
settlement_amount                           1307942   97.536789
settlement_percentage                       1307942   97.536789
settlement_term                             1307942   97.536789

[113 rows x 2 columns]

In [6]:
df = df.dropna(axis=1, thresh=int(0.80*len(df)))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1340973 entries, 0 to 1348587
Data columns (total 87 columns):
loan_amnt                     1340973 non-null int64
funded_amnt                   1340973 non-null int64
funded_amnt_inv               1340973 non-null float64
term                          1340973 non-null object
int_rate                      1340973 non-null float64
installment                   1340973 non-null float64
grade                         1340973 non-null object
sub_grade                     1340973 non-null object
emp_title                     1255044 non-null object
emp_length                    1262545 non-null object
home_ownership                1340973 non-null object
annual_inc                    1340969 non-null float64
verification_status           1340973 non-null object
issue_d                       1340973 non-null object
loan_status                   1340973 non-null object
pymnt_plan                    1340973 non-null object
purpose                       1340973 non-null object
title                         1325047 non-null object
zip_code                      1340972 non-null object
addr_state                    1340973 non-null object
dti                           1340619 non-null float64
delinq_2yrs                   1340944 non-null float64
earliest_cr_line              1340944 non-null object
inq_last_6mths                1340943 non-null float64
open_acc                      1340944 non-null float64
pub_rec                       1340944 non-null float64
revol_bal                     1340973 non-null int64
revol_util                    1340078 non-null float64
total_acc                     1340944 non-null float64
initial_list_status           1340973 non-null object
out_prncp                     1340973 non-null float64
out_prncp_inv                 1340973 non-null float64
total_pymnt                   1340973 non-null float64
total_pymnt_inv               1340973 non-null float64
total_rec_prncp               1340973 non-null float64
total_rec_int                 1340973 non-null float64
total_rec_late_fee            1340973 non-null float64
recoveries                    1340973 non-null float64
collection_recovery_fee       1340973 non-null float64
last_pymnt_d                  1338547 non-null object
last_pymnt_amnt               1340973 non-null float64
last_credit_pull_d            1340916 non-null object
collections_12_mths_ex_med    1340828 non-null float64
policy_code                   1340973 non-null int64
application_type              1340973 non-null object
acc_now_delinq                1340944 non-null float64
tot_coll_amt                  1270697 non-null float64
tot_cur_bal                   1270697 non-null float64
total_rev_hi_lim              1270697 non-null float64
acc_open_past_24mths          1290943 non-null float64
avg_cur_bal                   1270674 non-null float64
bc_open_to_buy                1277061 non-null float64
bc_util                       1276291 non-null float64
chargeoff_within_12_mths      1340828 non-null float64
delinq_amnt                   1340944 non-null float64
mo_sin_old_il_acct            1232729 non-null float64
mo_sin_old_rev_tl_op          1270696 non-null float64
mo_sin_rcnt_rev_tl_op         1270696 non-null float64
mo_sin_rcnt_tl                1270697 non-null float64
mort_acc                      1290943 non-null float64
mths_since_recent_bc          1277988 non-null float64
mths_since_recent_inq         1165702 non-null float64
num_accts_ever_120_pd         1270697 non-null float64
num_actv_bc_tl                1270697 non-null float64
num_actv_rev_tl               1270697 non-null float64
num_bc_sats                   1282383 non-null float64
num_bc_tl                     1270697 non-null float64
num_il_tl                     1270697 non-null float64
num_op_rev_tl                 1270697 non-null float64
num_rev_accts                 1270696 non-null float64
num_rev_tl_bal_gt_0           1270697 non-null float64
num_sats                      1282383 non-null float64
num_tl_120dpd_2m              1220543 non-null float64
num_tl_30dpd                  1270697 non-null float64
num_tl_90g_dpd_24m            1270697 non-null float64
num_tl_op_past_12m            1270697 non-null float64
pct_tl_nvr_dlq                1270543 non-null float64
percent_bc_gt_75              1276650 non-null float64
pub_rec_bankruptcies          1339608 non-null float64
tax_liens                     1340868 non-null float64
tot_hi_cred_lim               1270697 non-null float64
total_bal_ex_mort             1290943 non-null float64
total_bc_limit                1290943 non-null float64
total_il_high_credit_limit    1270697 non-null float64
hardship_flag                 1340973 non-null object
disbursement_method           1340973 non-null object
debt_settlement_flag          1340973 non-null object
dtypes: float64(61), int64(4), object(22)
memory usage: 900.3+ MB

In [8]:
num_feat = df.select_dtypes('number').columns.values
df[num_feat].nunique().sort_values()

policy_code                         1
num_tl_30dpd                        5
num_tl_120dpd_2m                    6
acc_now_delinq                      8
chargeoff_within_12_mths           11
pub_rec_bankruptcies               12
collections_12_mths_ex_med         15
mths_since_recent_inq              26
inq_last_6mths                     28
num_tl_90g_dpd_24m                 30
delinq_2yrs                        31
num_tl_op_past_12m                 32
num_actv_bc_tl                     34
tax_liens                          37
mort_acc                           38
num_accts_ever_120_pd              38
pub_rec                            39
num_rev_tl_bal_gt_0                46
num_actv_rev_tl                    52
num_bc_sats                        52
acc_open_past_24mths               55
num_bc_tl                          68
num_op_rev_tl                      74
num_sats                           83
open_acc                           84
num_rev_accts                     107
num_il_tl                         113
total_acc                         144
mo_sin_rcnt_tl                    197
percent_bc_gt_75                  242
                               ...
mo_sin_old_rev_tl_op              756
revol_util                       1373
bc_util                          1442
funded_amnt                      1562
loan_amnt                        1562
delinq_amnt                      2006
dti                              7140
funded_amnt_inv                 10043
tot_coll_amt                    12833
total_rec_late_fee              16962
total_bc_limit                  17061
total_rev_hi_lim                26741
out_prncp                       31887
out_prncp_inv                   32024
annual_inc                      64248
bc_open_to_buy                  74431
avg_cur_bal                     76685
installment                     83593
revol_bal                       83768
recoveries                     127920
collection_recovery_fee        140449
total_il_high_credit_limit     162427
total_bal_ex_mort              177828
total_rec_prncp                225102
tot_cur_bal                    399347
tot_hi_cred_lim                426052
total_rec_int                  518889
last_pymnt_amnt                681961
total_pymnt_inv               1009502
total_pymnt                   1253137
Length: 65, dtype: int64

In [9]:
df = df.drop(['policy_code'], axis=1, errors='ignore')

In [10]:
#correlacao entre adrr_state e purpose
df = df.drop(['title', 'zip_code'], axis=1, errors='ignore')

In [11]:
df_null = pd.DataFrame({'Count': df.isnull().sum(), 'Percent': 100*df.isnull().sum()/len(df)})
df_null[df_null['Count'] > 0]

                             Count    Percent
emp_title                    85929   6.407959
emp_length                   78428   5.848589
annual_inc                       4   0.000298
dti                            354   0.026399
delinq_2yrs                     29   0.002163
earliest_cr_line                29   0.002163
inq_last_6mths                  30   0.002237
open_acc                        29   0.002163
pub_rec                         29   0.002163
revol_util                     895   0.066743
total_acc                       29   0.002163
last_pymnt_d                  2426   0.180913
last_credit_pull_d              57   0.004251
collections_12_mths_ex_med     145   0.010813
acc_now_delinq                  29   0.002163
tot_coll_amt                 70276   5.240672
tot_cur_bal                  70276   5.240672
total_rev_hi_lim             70276   5.240672
acc_open_past_24mths         50030   3.730873
avg_cur_bal                  70299   5.242387
bc_open_to_buy               63912   4.766091
bc_util                      64682   4.823512
chargeoff_within_12_mths       145   0.010813
delinq_amnt                     29   0.002163
mo_sin_old_il_acct          108244   8.072049
mo_sin_old_rev_tl_op         70277   5.240747
mo_sin_rcnt_rev_tl_op        70277   5.240747
mo_sin_rcnt_tl               70276   5.240672
mort_acc                     50030   3.730873
mths_since_recent_bc         62985   4.696963
mths_since_recent_inq       175271  13.070435
num_accts_ever_120_pd        70276   5.240672
num_actv_bc_tl               70276   5.240672
num_actv_rev_tl              70276   5.240672
num_bc_sats                  58590   4.369215
num_bc_tl                    70276   5.240672
num_il_tl                    70276   5.240672
num_op_rev_tl                70276   5.240672
num_rev_accts                70277   5.240747
num_rev_tl_bal_gt_0          70276   5.240672
num_sats                     58590   4.369215
num_tl_120dpd_2m            120430   8.980792
num_tl_30dpd                 70276   5.240672
num_tl_90g_dpd_24m           70276   5.240672
num_tl_op_past_12m           70276   5.240672
pct_tl_nvr_dlq               70430   5.252156
percent_bc_gt_75             64323   4.796741
pub_rec_bankruptcies          1365   0.101792
tax_liens                      105   0.007830
tot_hi_cred_lim              70276   5.240672
total_bal_ex_mort            50030   3.730873
total_bc_limit               50030   3.730873
total_il_high_credit_limit   70276   5.240672

In [12]:
fill_empty = ['emp_title']

fill_max = ['bc_open_to_buy', 'mo_sin_old_il_acct', 'mths_since_recent_bc', 'mths_since_recent_inq',
            'pct_tl_nvr_dlq', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl']

fill_zero = ['emp_length', 'delinq_2yrs', 'inq_last_6mths', 'pub_rec', 'total_acc', 'annual_inc', 'dti',
            'tot_coll_amt', 'total_rev_hi_lim', 'acc_open_past_24mths', 'avg_cur_bal', 'tot_cur_bal',
            'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mort_acc', 'num_accts_ever_120_pd',
            'num_actv_bc_tl', 'num_actv_rev_tl', 'num_rev_accts', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
            'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd',
            'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
            'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'acc_now_delinq', 'num_bc_sats']

fill_mean = ['open_acc', 'revol_util', 'collections_12_mths_ex_med', 'percent_bc_gt_75']

df[fill_empty] = df[fill_empty].fillna('')
df[fill_max] = df[fill_max].fillna(df[fill_max].max())
df[fill_zero] = df[fill_zero].fillna(0)
df[fill_mean] = df[fill_mean].fillna(df[fill_mean].mean())

In [13]:
df = df.drop(['earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d'], axis=1, errors='ignore')

In [14]:
df_null = pd.DataFrame({'Count': df.isnull().sum(), 'Percent': 100*df.isnull().sum()/len(df)})
df_null[df_null['Count'] > 0]

Empty DataFrame
Columns: [Count, Percent]
Index: []

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1340973 entries, 0 to 1348587
Data columns (total 81 columns):
loan_amnt                     1340973 non-null int64
funded_amnt                   1340973 non-null int64
funded_amnt_inv               1340973 non-null float64
term                          1340973 non-null object
int_rate                      1340973 non-null float64
installment                   1340973 non-null float64
grade                         1340973 non-null object
sub_grade                     1340973 non-null object
emp_title                     1340973 non-null object
emp_length                    1340973 non-null object
home_ownership                1340973 non-null object
annual_inc                    1340973 non-null float64
verification_status           1340973 non-null object
issue_d                       1340973 non-null object
loan_status                   1340973 non-null object
pymnt_plan                    1340973 non-null object
purpose                       1340973 non-null object
addr_state                    1340973 non-null object
dti                           1340973 non-null float64
delinq_2yrs                   1340973 non-null float64
inq_last_6mths                1340973 non-null float64
open_acc                      1340973 non-null float64
pub_rec                       1340973 non-null float64
revol_bal                     1340973 non-null int64
revol_util                    1340973 non-null float64
total_acc                     1340973 non-null float64
initial_list_status           1340973 non-null object
out_prncp                     1340973 non-null float64
out_prncp_inv                 1340973 non-null float64
total_pymnt                   1340973 non-null float64
total_pymnt_inv               1340973 non-null float64
total_rec_prncp               1340973 non-null float64
total_rec_int                 1340973 non-null float64
total_rec_late_fee            1340973 non-null float64
recoveries                    1340973 non-null float64
collection_recovery_fee       1340973 non-null float64
last_pymnt_amnt               1340973 non-null float64
collections_12_mths_ex_med    1340973 non-null float64
application_type              1340973 non-null object
acc_now_delinq                1340973 non-null float64
tot_coll_amt                  1340973 non-null float64
tot_cur_bal                   1340973 non-null float64
total_rev_hi_lim              1340973 non-null float64
acc_open_past_24mths          1340973 non-null float64
avg_cur_bal                   1340973 non-null float64
bc_open_to_buy                1340973 non-null float64
bc_util                       1340973 non-null float64
chargeoff_within_12_mths      1340973 non-null float64
delinq_amnt                   1340973 non-null float64
mo_sin_old_il_acct            1340973 non-null float64
mo_sin_old_rev_tl_op          1340973 non-null float64
mo_sin_rcnt_rev_tl_op         1340973 non-null float64
mo_sin_rcnt_tl                1340973 non-null float64
mort_acc                      1340973 non-null float64
mths_since_recent_bc          1340973 non-null float64
mths_since_recent_inq         1340973 non-null float64
num_accts_ever_120_pd         1340973 non-null float64
num_actv_bc_tl                1340973 non-null float64
num_actv_rev_tl               1340973 non-null float64
num_bc_sats                   1340973 non-null float64
num_bc_tl                     1340973 non-null float64
num_il_tl                     1340973 non-null float64
num_op_rev_tl                 1340973 non-null float64
num_rev_accts                 1340973 non-null float64
num_rev_tl_bal_gt_0           1340973 non-null float64
num_sats                      1340973 non-null float64
num_tl_120dpd_2m              1340973 non-null float64
num_tl_30dpd                  1340973 non-null float64
num_tl_90g_dpd_24m            1340973 non-null float64
num_tl_op_past_12m            1340973 non-null float64
pct_tl_nvr_dlq                1340973 non-null float64
percent_bc_gt_75              1340973 non-null float64
pub_rec_bankruptcies          1340973 non-null float64
tax_liens                     1340973 non-null float64
tot_hi_cred_lim               1340973 non-null float64
total_bal_ex_mort             1340973 non-null float64
total_bc_limit                1340973 non-null float64
total_il_high_credit_limit    1340973 non-null float64
hardship_flag                 1340973 non-null object
disbursement_method           1340973 non-null object
debt_settlement_flag          1340973 non-null object
dtypes: float64(61), int64(3), object(17)
memory usage: 838.9+ MB

In [16]:
df.to_csv('prep_loan.csv', index=False)